<!DOCTYPE html>
<html lang="en">

<body>
  <template id="memberTemplate">
    <div class="member">
      <h3 class="memberName">Nombre</h3>
      <div class="memberInfo">
        <div>
          <ul class="memberCharacteristics"></ul>
          <div class="memberPictureContainer">
            <div class="imageEffect">
              <img class="memberPicture" src="" alt="IMG" />
            </div>
          </div>
        </div>
        <p class="memberDescription">Descripcion</p>
      </div>
    </div>
  </template>
</body>

</html>