<!DOCTYPE html>
<html lang="en">
  <body>
    <template id="memberTemplate">
      <div class="member">
        <h3 class="memberName">Nombre</h3>
        <div class="memberInfo">
          <div>
            <p class="memberDescription">Descripcion</p>
            <ul class="memberCharacteristics"></ul>
          </div>
          <div class="memberPictureContainer">
            <div class="imageEffect">
              <img class="memberPicture" src="" alt="IMG" />
            </div>
          </div>
        </div>
      </div>
    </template>
  </body>
</html>
