.card {
  background-color: #fff;
  border-radius: 0.75rem;
  cursor: pointer;
  border: 2px solid #a0c49d;

  .parkDetails {
    height: 1.875rem;
    display: flex;
    align-items: center;
  }

  .parkMainImage {
    width: 100%;
    height: 15.5rem;
    background-color: #f7ffe5;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (min-width: 1024px) {
  .card {
    height: 17.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parkDetails {
    height: 1.875rem;
    display: flex;
    align-items: center;
  }
  .parkMainImage {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 100%;
    height: 17.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parkDetails {
    height: 1.875rem;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .card {
    width: 100%;
    height: 17.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
