.contact {
  display: grid;
  grid-template-rows: 4rem 1fr;
  height: 100%;
  margin-top: 0.625rem;
  padding-left: 30px;


  .contactForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;

    .contactFormFields {
      width: 100%;
      /* padding-left: 30px; */
      padding-top: 10px;

      .field {
        display: flex;
        flex-direction: column;
        margin-bottom: .625rem;
        label {
          margin-bottom: 0.3125rem;
        }
        /* input {
          margin-bottom: 0.625rem;
        } */
        .textInput{
          display: flex;
          flex-direction: column;
        }
        .interests {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: flex-start;
          .interest {
            margin-left: 0.4375rem;
          }
        }
      }
      .buttons {
        display: flex;
      }
    }
  }
}
