.index {
  overflow-y: auto;
  height: 100%;
  scrollbar-width: thin;
  
  ul {
    gap: 0.625rem;
    margin: 0.625rem;

    li {
      background-color: #e1ecc8;
      padding: 0.9375rem;
      border-radius: 0.3125rem;
      list-style-type: none;
    }
  }
}



@media (min-width: 1024px) {
  .index {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .index {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 767px) {
  .index {
    ul {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
