.index {
  overflow-y: auto;
  height: 100%;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.625rem;
    margin: 0.625rem;

    li {
      background-color: #e1ecc8;
      padding: 0.9375rem;
      border-radius: 0.3125rem;
      list-style-type: none;
    }
  }
}
