.member {
    background-color: #a0c49d;
    padding: .625rem;
    border-radius: .3125rem;
  .memberName {
    margin-bottom: .3125rem;
  }
  .memberInfo {
    
    div{
        padding-bottom: .625rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        .memberCharacteristics {
          padding-left: 1.25rem;
          list-style-type: disc;
          li {
            margin-bottom: 0.3125rem;
          }
        }
        .memberPictureContainer {
          align-items: center;
          display: flex;
          justify-content: center;
          align-items: center;
          .imageEffect {
            clip-path: polygon(70% 0, 100% 0, 30% 100%, 0% 100%);
            width: 8rem;
            height: 7.5rem;
            transition: 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            .memberPicture {
              width: 13.75rem;
              transform: scale(0.5, 0.5);
            }
          }
          .imageEffect:hover {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            width: 7.5rem;
            height: 7.5rem;
          }
        }
    }
    .memberDescription {
        padding: 20px 5px 5px 5px;
        border-top: 2px solid #4b8c09;
    }
  }
}
