.park {
  
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  display: flex;  

  .parkInformation {
    
    .parkTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.625rem;
    }

    .badge{
      padding: 7px 21px;
      border-radius: 5px;
    }

    .green{
      background-color: #22b615;
    }

    .blue{
      background-color: #1528b6;
    }

    .yellow{
      background-color: #eae31a;
    }

    .parkDescription {

      .parkText {
        border-radius: 0.625rem;
        margin: 0.3125rem;
        padding: 0.625rem;
        padding-bottom: 1.875rem;
        background-color: #c4d7b2;
      }

      .parkSpecs {
        border-radius: 0.625rem;
        margin: 0.3125rem;
        padding-bottom: 1.875rem;
        padding: 0.625rem;
        background-color: #c4d7b2;
        display: flex;
        justify-items: center;
        align-items: start;
        gap: 0.3125rem;

        .parkInstallation {
          display: block;
          padding: 0.325rem 1rem;
          margin-bottom: 0.3125rem;
          background-color: #e4e4e4;
          border-radius: 1rem;
        }
      }

      .noneSpecs{
        display: none;
        visibility: hidden;
      }
    }
    .mapContainer{
      display: flex;
      align-items: center;
      justify-content: space-around;
      
      .parkMap {
        border-radius: 0.625rem;
        margin: .3125rem;
        padding: .3125rem;
        width:37.5rem;
        height:28.125rem; 
  
        iframe {
          border-radius: 0.625rem;
        }
      }
    }

    mapContainer
  }

  .parkGallery {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;

    .parkMainImageContainer {
      padding: 0.625rem;

      img {
        height: 25rem;
        width: 100%;
        border-radius: 0.625rem;
      }
    }

    .parkGalleryContainer {
      ul {
        display: flex;
        flex-direction: row;
        gap: .625rem;

        .galleryItem {
          list-style-type: none;
          img {
            border: 3px solid #a0c49d;
            border-radius: 0.625rem;
            width: 12.5rem;
            height: 9.375rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}


@media (min-width: 1024px) {
  .park{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .parkDescription {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .park{
    display: grid;
    grid-template-columns: 1fr ;
  }
  .parkDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .parkInformation {
  }
}

@media (max-width: 767px) {
  .park{
    display: grid;
    grid-template-columns: 1fr;
  }
  .parkDescription {
    display: flex;
    flex-direction: column;
  }
  .parkInformation {
    width: 100vw;

  }
}
