* {
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  /* width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around; */
}

body {
  max-height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 6.25rem 1fr 1.875rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background: linear-gradient(#0d3c0d, #ffffff);
  grid-template-rows: 4.0625rem 1.875rem;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: rgb(200, 200, 200);
      font-family: "Caveat", cursive;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 3rem;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: left;


  button {
    margin-left: 1.875rem;
  --b: 2px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #384437;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: .8125rem;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

button:active {
  background: var(--color);
  color: #fff;
}
}

main {
  height: 100%;
  overflow: hidden;
}

footer {
  background: linear-gradient( #ffffff,#0d3c0d);
  display: flex;
  align-items: center;
  justify-content: space-around;
  h5 {
    color: rgb(200, 200, 200);
  }
}

.sectionTitle {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
