.contact {
  display: grid;
  grid-template-rows: 4rem 1fr;
  height: 100%;
  margin-top: 0.625rem;
  padding-left: 1.875rem;

  .sugestionsForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;

    .sugestionsFormFields {
      /* width: 100%; */
      padding-top: .625rem;

      .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.625rem;
        label {
          margin-bottom: 0.3125rem;
        }
        .textInput {
          display: flex;
          flex-direction: column;
        }

        .interests {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          gap: 0.4375rem;
        }

        .interests input[type="checkbox"] {
          display: none;
        }

        .interests label {
          display: block;
          padding: 0.325rem 1rem;
          margin-bottom: 0.3125rem;
          cursor: pointer;
          background-color: #e4e4e4;
          border-radius: 1rem;
        }

        .interests input[type="checkbox"]:checked + label {
          background-color: #a0c49d;
          color: #fff;
        }
      }
      .buttons {
        display: flex;
      }

      #imageGallery {
        display: flex;
        flex-wrap: wrap;
        margin-top: .625rem;
      }

      #imageGallery img {
        width: 6.25rem;
        height: 6.25rem;
        margin-right: .625rem;
        margin-bottom: .625rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .sugestionsForm{

  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .animation{
    display: none;
  }
  .sugestionsForm{
    display: flex;
  }
}

@media (max-width: 767px) {
  .animation{
    display: none;
  }
  .sugestionsForm{
    display: flex;
  }
}
